__pycache__/fuzzy_producer.cpython-311.pyc
__pycache__/service.cpython-311.pyc
__pycache__/ProcessingFuzzyResultService.cpython-311.pyc
python/__pycache__/fuzzy_producer.cpython-311.pyc
python/__pycache__/ProcessingFuzzyResultService.cpython-311.pyc
python/__pycache__/service.cpython-311.pyc
.idea/